    <!-- Service Start -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Our Services</h2>
            <iframe src="https://dawn-platypus-0eb.notion.site/About-Me-69fe45e0d5de47e29b41a24ca1b90576" width="100%" height="100%"></iframe>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
          </div>
        </div>
        <div class="row ">
            
          {% for service in site.data.services %}
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="{{ service.icon }}"></i>
              <h4>{{ service.title }}</h4>
              <p>{{ service.content }}</p>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>